:root{
    --header-height:50px;
    --icon-height:30px;
}
body{
    font-family:sans-serif;
    /* font-family:Arial, Helvetica, sans-serif; */
    margin: 0;
    margin-bottom: 30px;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99999;
}
.primary{
    margin: 0px;
    padding: 15px 0px;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
.primary>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    padding: 0;
}
.menu{
    height: var(--icon-height);
    width: var(--icon-height);
    border-radius: var(--icon-height);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textonic{
    width: auto;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.search{
    flex: auto;
}
input[type=search] {
    height: var(--header-height);
    width: 100%;
    overflow: auto;
    border-radius: var(--icon-height);
    border: none;
    background-color: #e9e8e8;
    background-image: url('images/search.svg');
    background-position: calc(var(--icon-height)/2.5) calc(var(--icon-height)/2.5);
    padding-left: calc(var(--icon-height)*1.5);
    background-repeat: no-repeat;
    background-size: var(--icon-height);
    font-size: 18px;
}
input[type=search]:hover{
    background-color: #e0e0e1;
}
input[type=search]:focus{
    padding-left: 25px;
    background-image: none;
    outline: none;
    box-shadow: 0 0 0 4px #8cbcfb;
}
.iconic{
    width: var(--icon-height);
    position: relative;
    white-space: nowrap;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: var(--icon-height);
    height: var(--icon-height);
    background-color:#e9e8e8;
}

.iconic:hover{
    background-color: #e9e8e8;
    cursor: pointer;
}
#extra{
    background-color: #ffffff;
}#extra:hover{
    background-color: #e9e8e8;
    cursor: pointer;
}
.bottom {
    top:115%;
    left:50%;
    transform:translate(-50%, 0);
    padding: 8px;
    color:#ffffff;
    background-color:#000000;
    font-weight:lighter;
    font-size:12px;
    border-radius:8px;
    position:absolute;
    display:none;
    /* font-display: block; */
    max-width: 80px;
}
.iconic:hover .bottom{
    display: inline-block;
    word-wrap: break-word;
}
#inicio{
    color: #ffffff;
    background-color: #000000;
}

.feed{
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 235px);
    grid-gap: 20px;
    justify-content: center;
}
.picture{
    height: fit-content;
    position: relative;
    border-radius: 30px;
}
.picture>img{
    border-radius: inherit;
    /* object-fit:none; */
}
.over{
    height: calc(100% - 33px);
    width: calc(100% - 30px);
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: #00000045;
    border-radius: inherit;
    display: none;
    
}
.picture:hover>.over{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    cursor: zoom-in;
}
.save{
    font-size: 15px;
    height: 45px;
    width: 90px;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    background-color: #e73730;
}
.save:hover{
    background-color: #ac2424;
    cursor: pointer;
}
/* .picture:hover .over{
    height: auto;
    background-color: #0000002c;
    border-radius: 25px;
} */
/* .over:hover{
    background-color: #0000002c;
    border-radius: 25px;
} */
.over>ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.over>ul>li:hover{
    background-color: #c5c5c5;
}
@keyframes comeIn {
    /* 0% {display: none;} */
    from {bottom: -55px; }
    to {bottom: 25px;}
}
.ask{
    position: fixed;
    right: 25px;
    animation-name: comeIn;
    animation-duration: 0.5s;
    animation-fill-mode:both;
    animation-delay: 1.5s;
    height: 55px;
    width: 55px;
    justify-content: center;
    border-radius: 100%;
    z-index: 999999;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px #0000003f;
}
/* .ask:hover{
} */
.ask:hover>.bottom{
    top: 20%;
    left: -50%;
}



@media (min-width: 600px) {
    .facet_sidebar {
      display: none;
    }
}


